<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="This web is develop for the course python programming.">
    <title>Warehouse V1.1</title>
    <link rel="icon" href="static/boxicon.png" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'mainpage.css' %}" type="text/css" >
</head>
<body>
<div class="container">
    <div class="headline">
        <h1><a href="mainpage.html">The Warehouse Tracking System Project</a></h1>
    </div>
    <hr>

    <h2>Welcome to Warehouse Tracking System</h2>
    <h4><em>Thank you for using our services.</em></h4>

    <div class="header-search">
        <div class="search-box">
            <h3 style="text-shadow: 2px 2px black;">Track your item here</h3>
            <form id="trackpart" action="*****" method="POST">                                      <!--***action="to the backend" change later***--!>
                <input class="track-part" type="text" name="track-Num" placeholder="Insert your track number">
                <input class="start-part" type="submit" value="Start">
            </form>                                                                              <!--***backend here***--!>
        <!--<p><abbr title="Track now"><a href="trackpage.html">to track page</a></abbr></p>--!>     <!--***temporary to check trackpage***--!>
            </div>

    </div>
    <hr>
</div>
</body>
</html>