<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="This web is develop for the course python programming.">
    <title>Warehouse V1.1</title>
    <link rel="icon" href="{% static 'boxicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
</head>
<body>
<div class="container">
    <div class="headline">
        <h1 style="margin-bottom: 0px;"><a href="trackpage.html">The Warehouse Tracking System Project</a></h1>
        <p><em>Thank you for using our services.</em></p>
        </div>
    <hr>

    <div class="track-info">
        <h2 style="margin-bottom: 5px;">Track item</h2>
        <p style="margin-top: 5px;">Your tracking number :</p>
        <div class="id-num"><p>ID Number </p></div>                                           <!--***backend here***--!>
    </div>

    <div class="data-info">
        <div class="status-report">
            <h2>Status in general</h2>    <!-- inside / outside/ store/ not in directory --!> <!--***backend here***--!>
        </div>
        <div class="inside-status">
            <h4>In</h4>
            <p>status detail</p>                                                              <!--***backend here***--!>
        </div>
        <div class="out-status">
            <h4>Out</h4>
            <p>status detail</p>                                                              <!--***backend here***--!>
        </div>
        <div class="detail-status">
            <h4>Detail</h4>
            <p>status detail</p>                                                              <!--***backend here***--!>
        </div>
    </div>
</div>
    <hr>

  <h4><a href="mainpage.html">Return to Mainpage</a></h4>

</body>
</html>