html {
            font-family: Arial;
            font-size: 26px;
        }
        body
        {
            background-image: linear-gradient(rgba(255, 255, 255, 0.6 ),
             rgba(255, 255, 255, 0.7)), url("logistics.png");
            background-color: #cccccc;
            background-position: center;
        }

        a {
            color: #B24620;
        }

        .container .headline
        {
            background: linear-gradient(rgba(205, 205, 205, 0.65  ),
             rgba(225, 225, 225, 0.65), rgba(255, 255, 255, 0.65));
             padding: 1px;
             padding-left: 25px;
        }

        h2, h4
        {
            position: relative;
            left: 30px;
            margin-bottom: 1px;
        }
        h4
        {
            font-family: 'Brush Script MT', cursive;
            font-size: 40px;
            margin-top: 1px;
            margin-bottom: 40px;
        }

        .search-box
        {
            color: white;
            font-size: 30px;
            width: 30rem;
            max-width: 90%;
            margin: 0 auto;
            border-radius: 1.5rem;
            background: linear-gradient(rgba(5, 5, 5, 0.35  ),
             rgba(5, 5, 5, 0.55), rgba(5, 5, 5, 0.35));
            box-shadow: 0 0 10px #bbb;
            position: relative;
            padding: .9rem;
            padding-left: 120px;
            padding-right: 120px;
        }

        .track-part
        {
            font-family: 'Courier New', monospace;
            font-size: 22px;
            text-align: center;
            display: block;
            width: 95%;
            height: calc(1.5rem + .75rem + 2px);
            padding: .375px .75rem;
            padding-top: 0.375rem;
            padding-right: 16px;
            padding-bottom: 0.375rem;
            padding-left: 16px;
            line-height: 1.0;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
        }

        .start-part
        {
            font-family: Calibri;
            font-size: 20px;
            position: relative;
            left: 330px;
            width: 100px;
            height: 32px;
            margin-top: 12px;
            margin-bottom: 8px;
        }
