html
{
            font-family: Arial;
            font-size: 24px;
}
body
{
            background-image: linear-gradient(rgba(255, 255, 255, 0.8),
             rgba(255, 255, 255, 0.8)), url("logistics.png");
            background-color: #cccccc;

}

        a {
            color: #B24620;
        }
        table, tr, th, td, caption{
            border: 1px solid #eee;
            font-family: 'Courier New', Courier, monospace;
            boarder-collapse: collapse;
            padding: 0.5rem;

        }

.container
{

}